*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: lightgrey;
}
li > a{
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
}
nav{
  background-color: black;
  height: 50px;
  text-align: center;
}
.nav_links li{
  display: inline-block;
  padding: 16px;
  margin-left: 30px;
  margin-right: 30px;
}
.nav_links li:hover{
  background-color: orange;
  cursor: pointer;
}
iframe{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 3px solid hotpink;
}
.container{
  display:flex;
  margin-top: 80px;
}
img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: 100px;
}
.pstack{
  margin-right: auto;
  margin-left: 100px;
  width: 400px;
  height: 350px;
}
.p1, .p2, .p3{
  height: 80px;
}
.p1{
  background-color: hotpink;
  font-family: Arial, sans-serif;
  padding-top: 62px;
}
.p2{
  background-color: pink;
  font-family: Courier, serif;
    font-size: 23px;
  padding-top: 30px;
}
.p3{
  background-color: lightpink;
  font-family: Corsiva, sans-serif;
  font-size: 16px;
  padding-top: 60px;
}
button{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border: none;
  padding: 10px 40px;
  color: white;
  background-color: orange;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 10px;
}

footer{
  background-color: black;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer > p{
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}
