body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Korean-BBQ.jpg);
    background-size: cover;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: .15em;
}
