h1{
  text-align: center;
}
.box{
  background-image: url("clockimage.png");
  background-size: 100% 100%;
  width: 700px;
  height: 700px;
  background-repeat: no-repeat;
  position: relative;
  /* border: 2px solid green; */
  background-color: lavender;
  margin-left: auto;
  margin-right: auto;
}
.minhand{
  width: 37%;
  height: 20%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: rotate(-90deg);
  transform-origin: left;
  animation-name: littlehand;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  /* border: 2px solid red; */
}
.hourhand{
  width: 25%;
  height: 20%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: rotate(0deg);
  transform-origin: left;
  animation-name: bighand;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  /* border: 2px solid red; */
}
img{
  width: 100%;
  height: 100%;
}
@keyframes littlehand{
  0%{transform: rotate(-90deg);}
  10%{transform: rotate(-54deg);}
  20%{transform: rotate(-18deg);}
  30%{transform: rotate(18deg);}
  40%{transform: rotate(54deg);}
  50%{transform: rotate(90deg);}
  60%{transform: rotate(126deg);}
  70%{transform: rotate(162deg);}
  80%{transform: rotate(198deg);}
  90%{transform: rotate(234deg);}
  100%{transform: rotate(270deg)}
  /* 100%{transform: rotate(-);} */
}
@keyframes bighand{
  0%{transform: rotate(0deg);}
  10%{transform: rotate(3deg);}
  20%{transform: rotate(6deg);}
  30%{transform: rotate(9deg);}
  40%{transform: rotate(12deg);}
  50%{transform: rotate(15deg);}
  60%{transform: rotate(18deg);}
  70%{transform: rotate(21deg);}
  80%{transform: rotate(24deg);}
  90%{transform: rotate(27deg);}
  100%{transform: rotate(30deg)}
}
