@charset "UTF-8";
h1{
    color: white;
}
body{
    background-color: green;
}

table{
    background-color: lightgreen;
    border: 1px solid black;
    width: 600px;
    border-collapse: collapse;
}
tr, th, td{
    border: 1px solid black;
    padding: 10px;
}
img{
    border: 3px solid green;
    padding: 10px;
    
}
.postionimg{
    text-align: center;
}
caption{
    color: white;
    caption-side: bottom;
    margin: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    color: blue
}
